/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, li, menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

button{
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    border: none;
}


/* layout */

#app{
    height: calc(100vh - 100px);
    background-color: rgb(238, 51, 18);
    display: flex;
    
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px 20px;
}

header{
   min-width: 20%;
   text-align: center;
   position: relative;
  
}

.logo img{
    width: 80px;
    padding-top: 20px;
}

.menu-header{
    padding-top: 30px;
}

.menu-header li{
    padding: 5px;
}

button.btn-profile{
   position: absolute;
   left: 15px;
   bottom: 15px; 
}
main{
    background-color: rgb(156, 37, 16);
    width: calc(100vw - 20%);
    overflow: auto;
}

.subscribe{
    width: 97%;
    height: 70px;
    margin: 0 auto;
    border-radius: 30px;
    margin-top: 20px;
    background-color: rgb(231, 181, 20);
    position: relative;
}

.subscribe img{
    width: 28px;
    position: absolute;
    left: 25px;
    top: 13px;
}

.subscribe button{
    position: absolute;
    right: 10px;
    top: 30%;
}

h2{
    padding: 15px 0;
}

.content{
    display: flex;
    flex-wrap: wrap;
}

.col3{
    width: calc(3 * 100% / 12);
    padding-top: 15px;
}

.col3 img{
    max-width: 50%;
    padding-top: 10px;
}

.col3 p{
    padding: 5px 5px 0px 5px;
}

.content2 p{
    padding: 15px 0;

}

.content2 ul{
    padding-top: 10px;
}




footer{
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(82, 80, 73);
    
}

.container .foot{
    max-width: 100%;
}

.logo-footer img{
    width: 50px;
}

.link-footer{
    display: flex;
    justify-content: space-between;
}

.link-footer a{
    padding: 10px;
}




