/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, li, menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

button{
    background-color: white;
    border-radius: 20px;
    padding: 5px;
}


/* layout */

#app{
    height: 100vh;
    background-color: rgb(238, 51, 18);
    display: flex;
    
}

.container{
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
}

header{
   min-width: 280px;
   text-align: center;
  
}

.logo img{
    width: 80px;
}




